# Day 9: CHESS END-GAME
### - Load the data into a pandas dataframe and insert the column headers with the target labeled as target.
### - Implement a 70-30 test train split on the data  without using the sklearn method.
### - Preprocess the data. 
### - Select(engineer) 18 features for training and suggest an algorithm.
 
#### #LiveLongAndProsper

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
ch = pd.read_csv('/kr-vs-kp1.csv')

In [27]:
ch.keys()

Index(['f', 'f.1', 'f.2', 'f.3', 'f.4', 'f.5', 'f.6', 'f.7', 'f.8', 'f.9',
       'f.10', 'f.11', 'l', 'f.12', 'n', 'f.13', 'f.14', 't', 'f.15', 'f.16',
       'f.17', 'f.18', 'f.19', 'f.20', 'f.21', 't.1', 'f.22', 'f.23', 'f.24',
       'f.25', 'f.26', 'f.27', 'f.28', 't.2', 't.3', 'n.1', 'won'],
      dtype='object')

In [5]:
ch.head()

,f,f.1,f.2,f.3,f.4,f.5,f.6,f.7,f.8,f.9,...,f.23,f.24,f.25,f.26,f.27,f.28,t.2,t.3,n.1,won
0,f,f,f,f,t,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,won
1,f,f,f,f,t,f,t,f,f,f,...,f,f,f,f,f,f,t,t,n,won
2,f,f,f,f,f,f,f,f,t,f,...,f,f,f,f,f,f,t,t,n,won
3,f,f,f,f,f,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,won
4,f,f,f,f,f,f,f,f,f,f,...,f,f,t,f,f,f,t,t,n,won

In [6]:
ch.describe()

,f,f.1,f.2,f.3,f.4,f.5,f.6,f.7,f.8,f.9,...,f.23,f.24,f.25,f.26,f.27,f.28,t.2,t.3,n.1,won
count,3195,3195,3195,3195,3195,3195,3195,3195,3195,3195,...,3195,3195,3195,3195,3195,3195,3195,3195,3195,3195
unique,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
top,f,f,f,f,f,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,won
freq,2838,2970,3075,2873,2128,1721,2025,2499,1979,2224,...,3194,3148,3059,2630,3020,1983,2006,2344,2406,1668

In [7]:
ch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3195 entries, 0 to 3194
Data columns (total 37 columns):
f       3195 non-null object
f.1     3195 non-null object
f.2     3195 non-null object
f.3     3195 non-null object
f.4     3195 non-null object
f.5     3195 non-null object
f.6     3195 non-null object
f.7     3195 non-null object
f.8     3195 non-null object
f.9     3195 non-null object
f.10    3195 non-null object
f.11    3195 non-null object
l       3195 non-null object
f.12    3195 non-null object
n       3195 non-null object
f.13    3195 non-null object
f.14    3195 non-null object
t       3195 non-null object
f.15    3195 non-null object
f.16    3195 non-null object
f.17    3195 non-null object
f.18    3195 non-null object
f.19    3195 non-null object
f.20    3195 non-null object
f.21    3195 non-null object
t.1     3195 non-null object
f.22    3195 non-null object
f.23    3195 non-null object
f.24    3195 non-null object
f.25    3195 non-null object
f.26    3195 non-null object
f.27    3195 non-null object
f.28    3195 non-null object
t.2     3195 non-null object
t.3     3195 non-null object
n.1     3195 non-null object
won     3195 non-null object
dtypes: object(37)
memory usage: 923.7+ KB

### 70-30 test train split

In [21]:
ch_copy = ch.copy()

In [24]:
train = ch_copy.sample(frac=0.70, random_state=0)
test = ch_copy.drop(train.index)

In [25]:
train.shape

(2236, 37)

In [26]:
test.shape

(959, 37)

### Preprocess the data

In [29]:
ch_c = [train, test]  #combine train and test

In [31]:
ch_p =pd.concat(ch_c)

In [32]:
ch_p.shape

(3195, 37)

In [33]:
ch_p = ch_p.astype('category')

In [34]:
ch_p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3195 entries, 936 to 3192
Data columns (total 37 columns):
f       3195 non-null category
f.1     3195 non-null category
f.2     3195 non-null category
f.3     3195 non-null category
f.4     3195 non-null category
f.5     3195 non-null category
f.6     3195 non-null category
f.7     3195 non-null category
f.8     3195 non-null category
f.9     3195 non-null category
f.10    3195 non-null category
f.11    3195 non-null category
l       3195 non-null category
f.12    3195 non-null category
n       3195 non-null category
f.13    3195 non-null category
f.14    3195 non-null category
t       3195 non-null category
f.15    3195 non-null category
f.16    3195 non-null category
f.17    3195 non-null category
f.18    3195 non-null category
f.19    3195 non-null category
f.20    3195 non-null category
f.21    3195 non-null category
t.1     3195 non-null category
f.22    3195 non-null category
f.23    3195 non-null category
f.24    3195 non-null category
f.25    3195 non-null category
f.26    3195 non-null category
f.27    3195 non-null category
f.28    3195 non-null category
t.2     3195 non-null category
t.3     3195 non-null category
n.1     3195 non-null category
won     3195 non-null category
dtypes: category(37)
memory usage: 143.9 KB

In [35]:
ch_p['won'].value_counts()

won      1668
nowin    1527
Name: won, dtype: int64

In [39]:
ch_p['won'] = ch_p['won'].replace('won', 1)

In [40]:
ch_p['won'] = ch_p['won'].replace('nowin', 0)

In [41]:
ch_p['won'].value_counts()

1    1668
0    1527
Name: won, dtype: int64

### Select 18 features

In [46]:
ch_features = ch.drop(['f.18', 'f.19', 'f.20', 'f.21', 't.1', 'f.22', 'f.23', 'f.24','f.6', 'f.7', 'f.8', 'f.9','f.25', 'f.26', 'f.27', 'f.28', 't.2', 'n.1', 'won'], axis = 1)

In [47]:
ch_features.head()

   f f.1 f.2 f.3 f.4 f.5 f.10 f.11  l f.12  n f.13 f.14  t f.15 f.16 f.17 t.3
0  f   f   f   f   t   f    f    f  l    f  n    f    f  t    f    f    f   t
1  f   f   f   f   t   f    f    f  l    f  n    f    f  t    f    f    f   t
2  f   f   f   f   f   f    f    f  l    f  n    f    f  t    f    f    f   t
3  f   f   f   f   f   f    f    f  l    f  n    f    f  t    f    f    f   t
4  f   f   f   f   f   f    f    f  l    f  n    f    f  t    f    f    f   t

In [48]:
ch_target = ch['won'].copy

In [50]:
ch_target

<bound method NDFrame.copy of 0         won
1         won
2         won
3         won
4         won
        ...
3190    nowin
3191    nowin
3192    nowin
3193    nowin
3194    nowin
Name: won, Length: 3195, dtype: object>

I propose, we use logistics regression